<body class="background">
<div class="container center-element" style="margin-top: 8%">

<h1 style="color: #fff; margin-bottom: 40px;">Account Settings</h1>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
  <%= devise_error_messages! %>

 <div>
    <%= f.label :name , class: "text-white position-left"%><br />
    <%= f.email_field :displayname, class: "input-field btn-block",style:"padding: 5px; margin-bottom: 2%;"%>
  </div>

  <div>
    <%= f.label :email , class: "text-white position-left"%><br />
    <%= f.email_field :email, autofocus: true,class: "input-field btn-block",style:"padding: 5px; margin-bottom: 2%;"%>
  </div>

  <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
    <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
  <% end %>


  <div>

    <%= f.label :password , class: "text-white position-left"%><i class="text-white position-left" style="padding-left: 10px;"> (Leave this field blank if you don't want to change your password.)</i><br />
    <%= f.password_field :password, placeholder: "New Password",class: "input-field btn-block",style:"padding: 5px; margin-bottom: 2%;"%>
  </div>

  <div>
    <%= f.password_field :password_confirmation, placeholder: "Confirm Password",  class: "input-field btn-block",style:"padding: 5px; margin-bottom: 40px;"%>
  </div>

  <div>
    <%= f.label :current_password, class: "text-white position-left" %>  <i class="text-white position-left" style="padding-left: 10px;"> (We need your current password to confirm your changes.)</i><br />
    <%= f.password_field :password_confirmation, placeholder: "Current Password",  class: "input-field btn-block",style:"padding: 5px; margin-bottom: 2%;"%>
  </div>

  <div class="actions">
  <div><%= f.submit "Update", class: "input-field btn-block", style: "margin-bottom: 40px;"%></div>
  </div>
<% end %>


<p class="text-white position-left">Unhappy? <%= button_to "Cancel My Account", registration_path(resource_name), data: { confirm: "Are you sure?" }, method: :delete, class: "input-field btn-block" %></p>
<div><%= link_to "Back", :back, class: "text-white position-left", style: "margin-top: 30px;" %>
</div>

</div>
</body>
