
<div class="mobilenav" style="margin-top: 40px;">
    <div class="col-xs-6">  
      <li data-no-turbolink><%= link_to raw('<span class="glyphicon glyphicon-off glyph-white"></span> <br/>Log Out'),destroy_user_session_path, class: "link-text"%></li> 
    </div>
     <div class="col-xs-6">  
      <li data-no-turbolink><%= link_to raw('<span class="glyphicon glyphicon-cog glyph-white"></span> <br/>Settings'),'#', class: "link-text"%></li> 
    </div>
     <div class="col-xs-6">  
      <li data-no-turbolink><%= link_to raw('<span class="glyphicon glyphicon-signal glyph-white"></span> <br/>Usage'),'#', class: "link-text"%></li> 
    </div>
</div> 


 
<nav class="top">
  <ul>
    <% if params[:action] == 'photos' %>
      <li data-no-turbolink><%= link_to raw('<span title="Upload Media" class="glyphicon glyphicon-plus vertical-nav-glyph"></span> <br/>'),new_pin_path, class: "link-text"%></li> 
    <%end%>
      <% if params[:action] == 'songs' %>
      <li data-no-turbolink><%= link_to raw('<span title="Upload Media" class="glyphicon glyphicon-plus vertical-nav-glyph"></span> <br/>'),new_song_path, class: "link-text"%></li> 
    <%end%>
</ul>     
</nav>
    <a href="javascript:void(0)" class="icon"> 
       <div class="hamburger"> 
         <div class="menutop top-menu"></div> 
         <div class="menumid mid-menu"></div> 
         <div class="menubottom bottom-menu"></div> 
       </div> 
    </a>
